@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🌞 Light Theme */
:root {
  --body-bg: #F1F3F6;
  --surface-bg: #ffffff;
  --card-bg: #ffffff;
  --text-color: #000000;
  --primary: #EA002A;
  --border-color: #e5e7eb;
}

/* 🌙 Dark Theme */
.dark {
  --body-bg: #000000;           /* Background stays pure black */
  --surface-bg: #000000;        /* Navbar / footer */
  --card-bg: #1c1816;   /* Card color — slightly warm dark brown-black */
  --text-color: #ffffff;
  --primary: #EA002A;
  --border-color: #2c2c2c;      /* Softer border */
}

body {
  background-color: var(--body-bg);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* In your global CSS or Tailwind layer */
.truncate-2-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4; /* optional, improves spacing */
  max-height: calc(1.4em * 2); /* ensures 2 lines fit visually */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: black white;
}
